html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  padding-top: 0px;
}

.navbar {
  --bs-navbar-padding-y: 0.5rem !important;
  
}

#navbar_logo {
  position: absolute;
  width: 350px;
  margin-left: 3rem;
  top: 20px;
  left: 100px;
}

.navbar_everything {
  padding: 20px 0;
}

@media screen and (max-width:600px) {
  #navbar_logo {
      width: 3rem;
      padding-left: 0rem;
  }

  .name_nav {
      text-align: left;
      font-size: 1.2rem;
  }

}

.navbar-toggler-icon {
  background-color: white;
}

#navbar_logo:hover {
  cursor: pointer;
}

.nav-link {
  color: black !important;
  font-weight: 500;
  font-size: 1rem !important;
}

.nav-link:hover {
  color: #af8a34 !important;
}

@media screen and (min-width:1000px) {
  #current {
      background-color: #dbbc83
      !important;
      border-radius: 9px;
      color: rgb(0, 0, 0) !important;
  }

}

.actual_logo a {
  text-decoration: none;
}

.actual_logo a:hover {
  transition: 0.1s;
}

.mainButton {
  color: #ffffff !important;
  border: 2px solid #ffffff !important;
  background-color: black !important;
}

.mainButton:hover {
  background-color: #D2AE6D
  !important;
  border-color: #D2AE6D;
  color: #000000 !important;
}

.signup_container {
  display: flex;
  gap: 10px;
  margin-left: 97px;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(165, 165, 165, 0.75);
  width: fit-content;
  margin-top: 5px;
}

.name_nav {
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
}
#marketplace_nav{
  cursor: not-allowed !important;
}






.bgCover1 {
  /* background-image: url(bg.png); */
  background-color: rgb(245, 245, 245);
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  position: fixed;
  /* background-color: var(--white); */
  z-index: -1;
}




.homepage{
  
  background-position: 50% 50%;
  color: black;
;
}

.translucentBackground {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
}
.mainName{
  font-family: 'Anton';
  font-size: 110px;
  
}


.homepage_content {
  text-align: left;
  flex: 1;
  padding-left: 200px;
}

/* 
.homepage_image{
  width: 50.5%;
} */
.homepage_image {
  flex-shrink: 0;
  align-self: self-end;
  display: flex;
  justify-content:flex-end;
}
.homepage_image img{
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .homepage_image {
      display: none;
  }
}
  



.about{
  background-color: #D2AE6D;

}
.about_heading{
  text-align: center;
  font-family: 'Anton', monospace;
  
}

.about_heading h1 {
  letter-spacing: 2px;
  font-size: 50px;
}
.about_content{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about_content_text{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
  width: 60%;
}
.about_content_image{
  width: 40%;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 30px;
}
.about_content_image img{
  width: 250px;
}

#visionImage2 {
  width: 300px;
}
.lead.first {
  text-align: left;
}

.lead.second {
  text-align: right;
}

.services_heading {
  text-align: center;
  font-family: 'Anton';
}

.services_heading h1 {
  letter-spacing: 1px;
}

.services_content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 10px;
  
}
.service{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service h2 {
  width: 70%;
  text-align: center;
  font-weight: bold;
}

.line{
  width: 0.3%;
  background-color: black;
  height: 520px;
}

.leftarrow, .rightarrow {
  height: 520px;
  width: 100px;
  background-color: gray;
  
}

.onboard{
  background-color: #D2AE6D;
  height: 1300px;
  text-align: center;
  padding: 4rem 6rem;
}
.onboard_heading{
  padding-bottom: 5rem;
  font-family: 'Anton', monospace;
}
.onboard_step{
  display: flex;
  justify-content: center;
  align-items: center;
}
.onboard_1, .onboard_1_image, .onboard_3_image, .onboard_2_image, .onboard_2{
  width: 45vw;
  height: 300px;
}

.onboard_line{
  background-color: black;
  width: 0.3%;
  height: 300px;
}
.onboard_1{
  text-align: left;
  
}

.stepOne, .stepTwo, .stepThree {
  display: flex;
  justify-content: center;
}

.onboard_1_image, .onboard_3_image{
  width: 45vw;
  height: 300px;
  display: flex;
  justify-content: center;
}
.onboard_2{
  text-align: right;
}
.step_line{
  height: 4px;
  width: 16%;
  float: right;
  background-color: black;
}
.onboard_2 .step_line{
  float: left !important;
}
.onboard_step_content p{
  padding-right: 7rem;
}
.onboard_step_content h1{
  padding: 1rem 0;
}
.onboard_2 p{
  padding-left: 7rem !important;
  padding-right: 0 !important;
}

.onboard img {
  width: 300px;
  height: auto;
}


.onboard .btn {
  background-color: black;
  color: white;
  border: 2px solid black;
}

.onboard .btn:hover {
  background-color: #D2AE6D;
  color: black;
  cursor: pointer;
  border: 2px solid black;
}

.faqsection {
  background-color: #e4e3e3;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 200px;
  align-items: center;
}

.faqwrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.faqsection h2 {
  font-family: 'Anton',monospace;
  
  font-size: 4rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: #000000;
}

.faq {
  width: 100%;
  background-color: #ffffff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(165, 165, 165, 0.75);
  cursor: pointer;
  position: relative;
}

.question {
  font-size: 18px;
  cursor: pointer;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}

.faq.active .answer {
  max-height: 200px;
  transition: max-height 1s;
}

.faq svg {
  position: absolute;
  width: 30px;
  right: 20px;
  top: 15px;
  transition: transform 0.3s ease-in-out;
  transition-delay: 0.3s;
}

.faq.active svg {
  transform: rotate(90deg);
  transition: transform 0.4s ease-in-out;
  
}

.review{
  padding: 5rem 5rem;
  text-align: center;
}
.review_heading{
  padding-bottom: 3rem;
  font-family: 'Anton', monospace;
}
.review_content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.review_box{
  box-shadow: 1px 1px 20px 0.2px rgb(192, 191, 191);
  /* width: 30%; */
  transition: 0.3s;
  margin: 1rem 1rem;
  border-radius: 5px;
}
.review_box:hover{
  box-shadow: 1px 1px 35px 0.2px rgb(202, 201, 201);
  transition: 0.3s;
  transform: scale(1.02);

}
.box_image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box_image img{
  width: 4rem;
  border-radius: 50%;
  margin-top: 1rem;
}
.box_name{
  padding: 0.5rem 1rem;
}
.box_text{
  padding: 0rem 1rem;
}
.box_top.box_name{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box_stars{
  margin: 2rem 0rem;
  display: flex;
  justify-content: center;
}

.stars_rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 10px 0;
}

.box_stars svg {
  fill: #031438;
  width: 50px;
}

/* Style the footer container */
footer {
  background-color: #333;
  color: #fff;
  padding-top: 50px;
}

/* Center the footer content */
.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* Style the logo */
.footer-logo img {
  width: 380px;
  height: auto;
  filter: invert();
}

/* Style the contact information */
.footer-info h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-info p {
  margin: 5px 0;
}

/* Style the social media icons */
.footer-social h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.social-icon {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  margin-right: 20px;
}

/* Style the bottom section with copyright information */
.footer-bottom {
  text-align: center;
  background-color: #222;
  padding: 15px 0;
  margin-top: 2rem;
}
