html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  padding-top: 0px;
}


.navbar {
  --bs-navbar-padding-y: 0.5rem !important;
  
}

#navbar_logo {
  width: 4rem;
  margin-left: 1.5rem;
  background-color: #000000;
}

@media screen and (max-width:600px) {
  #navbar_logo {
      width: 3rem;
      padding-left: 0rem;
  }

  .name_nav {
      text-align: left;
      font-size: 1.2rem;
  }

}

.navbar-toggler-icon {
  background-color: white;
}

#navbar_logo:hover {
  cursor: pointer;
}

.nav-link {
  color: black !important;
  font-weight: 500;
  font-size: 1rem !important;
}

.nav-link:hover {
  color: #af8a34 !important;
}

@media screen and (min-width:1000px) {
  #current {
      background-color: #dbbc83
      !important;
      border-radius: 9px;
      color: rgb(0, 0, 0) !important;
  }

}

.actual_logo a {
  text-decoration: none;
}

.actual_logo a:hover {
  transition: 0.1s;
}

.mainButton {
  color: #ffffff !important;
  border: 2px solid #ffffff !important;
  background-color: black !important;
}

.mainButton:hover {
  background-color: #D2AE6D
  !important;
  border-color: #D2AE6D;
  color: #000000 !important;
}

.signup_container {
  display: flex;
  gap: 10px;
  margin-left: 97px;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(165, 165, 165, 0.75);
  width: fit-content;
  margin-top: 5px;
}

.name_nav {
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
}
#marketplace_nav{
  cursor: not-allowed !important;
}






.bgCover1 {
  /* background-image: url(bg.png); */
  background-color: rgb(245, 245, 245);
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  position: fixed;
  /* background-color: var(--white); */
  z-index: -1;
}




.homepage{
  
  background-position: 50% 50%;
  color: black;
;
}

.translucentBackground {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 200px;
  
  
}
.mainName{
  font-family: 'Anton';
  font-size: 6.2rem;
  text-align: center;
}



/* 
.homepage_image{
  width: 50.5%;
} */
.homepage_image img{
  width: 75rem;
}


.about{
  background-color: #D2AE6D;

}
.about_heading{
  text-align: center;
}
.about_content{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about_content_text{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
  width: 60%;
}
.about_content_image{
  width: 40%;
}
.about_content_image img{
  width: 100%;
}


.services_heading{
  text-align: center;
}
.services_content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.service{
  width: 30%;
}
.line{
  width: 0.3%;
  background-color: black;
  height: 520px;
}


.onboard{
  background-color: #D2AE6D;
  height: 500px;
  text-align: center;
}

.faqsection {
  background-color: #D2AE6D;
  height: 500px;
}

.faqwrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.faqsection h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: #000000;
}

.faq {
  width: 100%;
  background-color: #ffffff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(165, 165, 165, 0.75);
  cursor: pointer;
  position: relative;
}

.question {
  font-size: 18px;
  cursor: pointer;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}

.faq.active .answer {
  max-height: 200px;
  transition: max-height 1s;
}

svg {
  position: absolute;
  width: 30px;
  right: 20px;
  top: 15px;
  transition: transform 0.3s ease-in-out;
  transition-delay: 0.3s;
}

.faq.active svg {
  transform: rotate(90deg);
  transition: transform 0.4s ease-in-out;
  
}

